<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>

    {% for industry in INFO %}
    <div data-role="collapsible">
      <h2>{{ industry }}</h2>
      <p>
      {% for sector in INFO[industry] %}
        <div data-role="collapsible">
          <h2>{{sector}}</h2>
          <p>
              {{industry}}, {{sector}}
            <ul>

            {% for ticker in INFO[industry][sector] %}
              <li>{{ ticker }}  {{ INFO[industry][sector][ticker] }}</li>
            {% endfor %}
            </ul>
          </p>
        </div>
      {% endfor %}
      </p>
    </div>
    {% endfor %}


</body>
</html>
